<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

<div class="outer">
    <div class="inner">      
        <h1>Select an Image, the Location and Objects are crucial. Remember the View both Team Ted and Team cindy's Schematics before you submit your final vote to the poll-host.</h1>
        <form action = "">
            <fieldset>
                <div id="radio">
                    <input type = "radio"
                    name = "fate"
                    id = "radRisky"
                    value = "Risky"
                    checked = "checked" />
                    <label for = "radRisky">Risky</label>
                    
                    <input type = "radio"
                    name = "fate"
                    id = "radUnknown"
                    value = "Unknown" />
                    <label for = "radUnknown">Unknown</label>
                    
                    <input type = "radio"
                    name = "fate"
                    id = "radSafe"
                    value = "Safe" />
                    <label for = "radSafe">Safe</label>
                </div>
                <button type = "button"
                onclick = "gamble()">
                    Gamble with their fate.
                </button>
            </fieldset>
        </form>
        <div id = "output">
        </div> 
    </div>
</div>
<div id=container>
</div>

<!-- Modal Trigger -->
  <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Modal</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>